/*Базовая стилизация*/

@font-face {
  font-family: Roboto; /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
  src: url(../fonts/Roboto-Regular.ttf);
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  padding: 0;
  position: relative;

  font: 16px 'Roboto', sans-serif;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;

  background-color: #849d8f;
}

a{
  color: #ffffff;

}

.page-wrapper a:hover,
.page-wrapper a:active {
  color: #ffbc9e;
}

.img {
  width: 100%;
  height: auto;
}

.page-wrapper {
  padding-top: 9px;
}
.header {
  padding: 0 27px;
}

.header-navigation {
  padding-left: 0;
}

.header-user-navigation {
  padding-left: 0;
}

input,
textarea {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', Arial, sans-serif;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 1px;
  outline: none;
}

input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: 999999;
  font-family: 'Roboto', Arial, sans-serif;
}

input:hover,
textarea:hover {
  border: 2px solid #9a9a9a;
  padding: 0;
}

input:focus,
textarea:focus {
  border: 2px solid #2e88e4;
  padding: 0;

}

.form-wrap {
  background-color: #f8f7f4;
  color: #323232;
}

.header-user-navigation a {
  background-color: rgba(255, 255, 255, 0.2);
}


.modal a{
  color: #000000;
  background: transparent;
}

.modal .btn {
  color: #ffffff;
  background-image: linear-gradient( 0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

.modal a:hover{
  color: #e84d37;
  border-bottom-color: #e84d37;
}
.modal a:active{
  color: #e84d37;
  border-bottom-color: #e84d37;
}

.header-navigation li{
  list-style: none;
  background: transparent;
  padding: 5px 14px 5px;
  border-radius: 20px;

}

.catalog-link-1lv {
  position: relative;
  z-index: 40;
}

.header-navigation .catalog-link-1lv:hover {
  background-color: rgb(247, 246, 243);
  border-bottom: none;
}



.header-navigation li:active {
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.8);
}

.catalog-link-1lv:hover  a{
  color: #323232;
  background: transparent;
}

.catalog-link-1lv:hover .catalog-second-level {
  display: block;
  position: absolute;
  border-radius: 5px;
  background-color: #f7f6f3;
  padding: 0;
  z-index: 15;
  padding-bottom: 4px;
}

.catalog-link-1lv:hover .modal-wrap {
  display: block;
}

.catalog-link-1lv>a {
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-link-1lv>a:active {
  text-decoration: none;
  border-bottom: 0;
}

.catalog-second-level li {
  padding: 0;
  border-radius:0;
}

.catalog-second-level a {
  display: block;
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  min-width: 105px;
  padding: 7px 19px 8px 19px;
  border-radius: 0;
  margin: 1px 0;
}

.second-level-link:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}


 .new a{
  box-sizing: border-box;
  height: 39px;
  vertical-align: middle;
  margin: 0;
  padding-left: 20px;
  padding-top: 11px;
}

.new a::after {
  position: absolute;
  content: "";
  width: 80%;
  padding: 0 6px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  left: 6px;
  top: 38px;
}



.header-user-navigation li{
  list-style: none;
}

.form-authorization .btn{
  width:100px;
  height: 45px;
  line-height: 45px;
  border-radius: 20px;
}



.form-authorization button{
  font-size: 18px;
  line-height: 24px;

}

.additional-links a{

   font-size: 13px;
  line-height: 24px;
}

.header-info {
  font-size: 14px;
  line-height: 16px;
}

.header-info b{
  font-size: 22px;
  line-height: 24px;
}


.btn {
  background-image: linear-gradient( 0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient( 0deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:active {
  background-image: linear-gradient( 0deg, rgb(225,97,62) 0%, rgb(215,70,50) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.btn{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  border:none;
  margin:auto;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
}


.btn:hover {
  color: rgb(255, 255, 255);
}
.take-offer-link:active {
  color: rgb(255, 255, 255);
}

.btn:hover {
  color:#ffffff;
}

.nain

.main li {
  list-style: none;

}

.gift-offers h3{
  font-size: 35px;
  line-height: 41px;
}

.gift-offers p {
  font-size: 18px;
}

.free-raspberry {
  background-image: url(../img/free-raspberry.jpg);
  background-repeat: no-repeat;
  background-position: -27px -90px;
}

.free-chocolate {
  background-image: url(../img/free-chocolate.jpg);
  background-repeat: no-repeat;
  background-position: -27px -90px;
}
.free-raspberry .btn {
  width: 165px;
  height: 46px;
  line-height: 46px;
}

.free-chocolate .btn {
  width: 189px;
  height: 46px;
  line-height: 46px;
}

.price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight {
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.gllacy-features {
  padding: 0 2.25%;
  margin-bottom: 40px;
}

.gllacy-features h2 {
  font-size: 24px;
  line-height: 30px;
}

.featured-blog-article h2 {
  font-size: inherit;
  line-height: inherit;
  color: #323232;
}

.full-article-link {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.featured-blog-article a:hover,
.featured-blog-article a:active
 {
  color: #e84d37;
}

.featured-blog-article {
  background-color: #ffffff;
  background-image: url(../img/blog-strawberry.jpg);
  background-repeat: no-repeat;
}

.e-mail-subscribe {
  color: #5a5a5a;
  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;
  padding: 10px;
}

.e-mail-subscribe h2 {
  margin-top: 0;
}

.e-mail-subscribe-wrapper {
  background-color: #f8f7f4;
}

.e-mail-subscribe .btn{
  width: 129px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
}

.main-map .map-container {
  width: 1200px;
  height: 428px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 0 -110px;
}

.main-contacts {
  color: #323232;
  background-color: #fefefd;
  font-size: 14px;
  line-height: 20px;
}

.main-contacts b{
  font-size: 18px;
  line-height: 24px;
}

.main-contacts  .btn{
  width: 252px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
}

.footer-navigation a {
  font-size: 13px;
  line-height: 18px;
}

.branding-text {
  font-size: 12px;
  line-height: 18px;
}

.main-feedback p {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}
.main-feedback  .btn {
  width: 139px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
}

.hit-products {
  padding: 0 27px;
}

.hit-products .btn,
.product-grid .btn {
  width: 200px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
}

.product{
  width: 23.29%;
  position: relative;
  margin-right: 1px;
}


.product-img-link{
  max-width: 267px;
}

.product-img-link,
.product .price {
  display: block;
}

.product .btn {
  display: none;

}

.product:hover .btn{
  display: block;
}


/*Базовая стилизация каталога*/

.pagination li {
  list-style: none;
}

.pagination a {
  text-decoration: none;
}


.pagination a:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

 .current-page a,
 .pagination a:active,  {
  background-color: #ffffff;
  color: #323232;
  text-decoration: none;
}

.current-page a:hover {
  background: transparent;
  color: #323232;
  text-decoration: none;
}

.cart-product-table {
  font-size: 13px;
  line-height: 16px;
}

.lighter {
  color: #999999;
}

.cart-overall-price {
  font-size: 15px;
  line-height: 18px;
}

.main-cart .btn {
  width: 170px;
  height: 44px;
  line-height: 44px;
  border-radius: 20px;
}

.main-cart .btn{
  background-color: transparent;
}

.sort-filter select{
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 194px;
  height: 36px;
  padding: 10px 15px;
  border-radius:  20px;
  color: #ffffff;
  font-size: 16px;
  line-height:16px;
  font-family: 'Roboto', sans-serif;
  border: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.sort-filter option {
  font-size: 16px;
  line-height: 36px;
}


.sort-filter select:hover {
  color: #323232;
}


.sort-filter legend,
.sort-filter label {
  font-size: 14px;
  line-height: 16px;
}

.sort-filter fieldset {
  border: none;
}


.sort-form-btn-submit {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  width: 145px;
  height: 41px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 18px;
  outline: none;
}

.sort-form-btn:hover{
  background-color: #fbfcfb;
  color: #323232;
}

.sort-form-btn:active{
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.8);
  border: none;
  padding: 2px;
}

/*Macro-flex*/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
  background-color:transparent;
}

.logo {
  width: 154px;
  margin-bottom: 5px;
}

.header .menu-container {
  height: 40px;
  position: relative;
}

.header-navigation,
.header-user-navigation
{
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-navigation {
  width: 400px;
  justify-content: flex-start;
}

.header-user-navigation{
 justify-content: flex-end;
 margin-bottom: 60px;

}



.header-user-navigation li:not(:last-child){
  margin-right: 10px;

}

.header-user-navigation li {
  margin-bottom: 5px;
}


.header-info{
  position: absolute;
  width: 180px;
  margin-left: auto;
  bottom: 0;
  right: 0;
}

.modal{
  display: none;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-second-level{
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.gift-offers,
.feature-list,
.product-grid,
.wrapper-1,
.footer {
  display: flex;
  justify-content: space-between;
}

.gift-offers {
  margin-bottom: 40px;
  padding: 0 2.25%;
}

.free-raspberry,
.free-chocolate {
  box-sizing: border-box;
  flex-grow: 1;
  border-radius: 15px;
}

.product-grid {
  padding: 0;
  margin-left: -1px;
  margin-top: -1px;
  list-style: none;
}

.cream-content {
  margin-top: -4px;
}

.cream-content .product{
  margin-bottom: 25px;
}

.cream-content .product-grid{
  margin-bottom: 22px;
}

.feature-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.feature-list li{
  box-sizing: border-box;
  width: 48.5%;
  padding-left: 57px;
  font-weight: 400;
}

.feature-list li:nth-last-child(odd){
  margin-left: 2.6%;
}

.wrapper-1 {
  margin-bottom: 40px;
  padding: 0 2.25%;
}

.e-mail-subscribe{
  box-sizing: border-box;
}

.main-map {
  position: relative;
}

.main-contacts {
  position: absolute;
  display: block;
  top: 60px;
  right: 27px;
  width: 300px;
  height: 305px;
  border-radius: 20px;
  padding: 20px;
  z-index: 3;
}


.social-links {
  display: flex;
  width: 268px;
  align-items: center;
  flex-wrap: wrap;
}


.footer-navigation-links {
  width: 340px;
}


/*Macro-flex-catalog*/


.breadcrumbs-links{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-right: auto;
  min-width: 500px;
  margin-bottom: 0;
}

.breadcrumbs-links a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-links-current a {
  border-bottom: none;
}

.catalog-breadcrumbs {
  position: relative;
  margin-top: -40px;
}

.breadcrumbs-links li:not(:first-child) {
  margin-left: 8px;
}

.breadcrumbs-links li:not(:last-child)::after {
  content: "»";
  margin-left: 6px;
}

.current a{
  text-decoration: none;
}

.current a::after {
  content: "";
}

.cream-content {
  padding: 0 27px;
}

.cream-content h2 {
  margin: 0;
}

.sort-filter-form {
  display: flex;
  width: 860px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 22px;
}

.sort-filter fieldset{
  padding: 0;
}

.sort-filter ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.filter-element-wrapper1,
.filter-element-wrapper2,
{
  display: flex;
  flex-direction: column;

}

.filter-element-wrapper1{
  width: 195px;
}

.filter-element-wrapper2 {
  width: 200px;
}

.fat-filter {
  width: 415px;
}

.addings {
  width: 700px;
}

.products .product-grid{
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-grid li {
  margin-bottom: 40px;
}

.pagination {
  margin-bottom: 28px;
}
.pagination ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.pagination-list li:last-child::after{
  content: ">";
  margin-left: 10px;
}

/*Themming*/

.menu-container {
  flex-grow: 1;
  margin-top: 14px;
  margin-left: 9px;
}

.header-user-navigation{
  margin-top: 13px;
  margin-left: 20px;
}

.header-navigation .modal-wrap {
  width: 143px;
  height: 172px;
  top: 22px;
  left: -6px;
}

.modal-wrap{
  display: none;
  position: absolute;
  padding-top: 15px;
}

.main-search:hover  .modal-wrap{
  top: 20px;
  left: -310px;
  display: block;

}

.form-authorization-wrapper {
  display: block;
  z-index: 5;
  height: 180px;
}

.main-authorization:hover .modal-wrap{
  display: block;
  top: 20px;
  right: -2px;
  z-index: 40;
}

.main-cart .cart-popup {
  display: block
}

.main-cart:hover .modal-wrap{
  display: block;
  top: 20px;
  z-index: 40;
  left: -422px;
}


.search-form-link,
.authorization-form-link,
.cart-link {
  position: relative;
  display: block;
  height: 32px;
}



.main-search .search-form-link {
  position: relative;
  text-decoration: none;
  border-radius: 50%;
  width: 32px;
}

.search-form-link svg {
  position: absolute;
  top: 7px;
  left: 7px;
}

.authorization-form-link {
  width: 92px;
  border-radius: 50px;
}

.authorization-form-link svg,
.cart-link svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.authorization-form-link g {
  fill: #fff;
}

.search-form-link:hover path{
  fill: #000;
}

.search-form-link:hover {
  background: #ffffff;
}

.authorization-form-link:hover g {
  fill: #000;
}

.authorization-form-link:hover {
  background: #ffffff;
  color: #000000;
}

.authorization-form-link:hover .link-wrapper {
  color: #000000;
}

.cart-link:hover g{
  fill: #000;
}

.cart-link:hover {
  background: #ffffff;
  color: #000000;
}

.link-wrapper,
.cart-link::after {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  top: 8px;
  left: 44px;
}

.cart-link {
  width: 100px;
  border-radius: 50px;
}

.cart-link::after {
  content: "Пусто";

}

.page-wrapper .cart-link:hover  {
  color: #000000;
}

.header-info {
  position: absolute;
  text-align: right;
  bottom: -7px;
  right: 27px;
  margin-bottom: 0;
}

.container-catalog .header-info{
  bottom: -9px;
  right: 26px;
}

.header-info b {
  display: block;
  margin-bottom: 11px;
  margin-top: 5px;
}

.gift-offers h3, p {
  margin: 0;
}

.gift-offers p {
  margin-top: 15px;
}

.free-raspberry {
  margin-right: 2.16%;
}

.free-chocolate {

}

.free-raspberry,
.free-chocolate  {
  position: relative;
  padding: 16px 18px 114px;
  width: 46.66%;
}

.gift-offers .take-offer {
  position: absolute;
  bottom: 24px;
  right: 22px;
}

.main-content .hit-products {
  position: relative;
}


.hit-products::before{
  content: "";
  height: 320px;
  width:1px;
  position: static;
}

.product-grid .product-img {
  border-radius: 50%;
  z-index: 1;
  width: 100%;
  height: auto;
}

.product-grid .hit {
  position: absolute;
  width: 61px;
  height: 62px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  font-size: 0;
}

.product-grid .price {
  margin-top: -63px;
  z-index:5;
  margin-bottom: 21px;
}

.product-grid .weight {
  position: relative;
  display: inline-block;
  padding-left: 35px;

}

.product-grid .weight::before {
  content: "";
  position: absolute;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 33px;
  top: 1px;
  left: 3px;
}

.title-wrapper a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.title-wrapper {
  //width: 260px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 13px;

}

.product-link {
  bottom: -37px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -100px;
  z-index: 25;

}

.product:hover .hover-wrap {
  display: block;
}

.product-grid .hover-wrap{
  display: none;
  background-color: rgba(248, 247, 244, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: -60px;
  z-index: 15;
}

.product:hover .hover-block{
  display: block;
}

.product .hover-block {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 20;
  padding: 6px 12px 60px;
  top:-6px;
  left: -12px;
}

.main-content .gllacy-features {
  position: relative;
  margin-top: -30px;
  z-index: 5;
}

.features-wrapper {
  background-image: url(../img/waffle.jpg);
  background-repeat: repeat-x;
  border-radius: 15px;
  padding: 25px 1.74% 15px;
  color: #323232;
}

.features-wrapper h2 {
  margin: 0;
  margin-bottom: 7px;
  font-weight: medium;
}

.features-wrapper ul {
  list-style: none;
}

.feature-list-entity {
  padding-top: 12px;
  padding-bottom: 10px;
}

.feature-list-entity:nth-child(1) {
  background: url("../img/ice-cream.svg") no-repeat;
}

.feature-list-entity:nth-child(2) {
  background: url("../img/cow.svg") no-repeat;
}

.feature-list-entity:nth-child(3) {
  background: url("../img/eco.svg") no-repeat;
}

.feature-list-entity:nth-child(4) {
  background: url("../img/thermometer.svg") no-repeat;
}

.wrapper-1 .featured-blog-article,
.wrapper-1 .e-mail-subscribe {
  position: relative;
  width: 46.66px;
  box-sizing: border-box;
  flex-grow: 1;
  border-radius: 15px;
}

.e-mail-subscribe {
  padding: 5px;
  margin-left: 2.16%;
  max-height: 221px;
}

.featured-blog-article {
  padding: 24px 20px 80px;
  background-position: -25px -135px;
}

.e-mail-subscribe-wrapper {
  padding: 30px 20px 75px;
  border-radius: 15px;
  font-weight: 400;
  position: relative;
  min-height: 105px;
}

.featured-blog-article h2 {
  margin: 0;
  margin-bottom: 5px;
}

.full-article-link {
  display: inline-block;
  max-width: 300px;
  text-decoration: underline;
}

.e-mail-subscribe-input {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 141px);
}

.e-mail-subscribe-input,
.subscribe-btn
 {
  //margin-top: 37px;
}

.subscribe-info {
  //margin-bottom: 37px;
}

.e-mail-subscribe-form {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 7px;
  width: calc(100% - 40px);
  bottom: 30px;
}

.e-mail-subscribe-form input[type=email]{
  flex-grow: 1;
  margin-right: 12px;
  padding-left: 15px;
  border: 1px solid #b2b2b2;
}

.e-mail-subscribe-form input[type=email]::placeholder {
  font-size: 16px;
}

.e-mail-subscribe-form input[type=email]:focus {
  border: 2px solid #2e88e4;
}

.main-contacts {
  box-sizing: border-box;
  width: 302px;
  padding: 30px 30px 30px 25px;
  border-radius: 15px;
  font-weight: 400;
}

.first-contacts-elem {
  display: block;
  width: 150px;
  margin-bottom: 1px;
}

.secont-contacts-elem {
  margin-bottom: 18px;
}

.third-contacts-elem {
  display: block;
  margin-bottom: 3px;
}

.fourth-contacts-elem{
  margin-bottom: 2px;
}

.main-contacts b {
  display: block;
}

.contacts-feedback-button {
  margin-top: 25px;
}

.footer {
  align-content: center;
  padding: 18px 2.25%;
}



 .social-links {
  padding: 0;
  margin: 0;
  margin-left: -3px;
  margin-top: -4px;
 }

 .social-links a{
  display: block;
  width: 100%;
  height: 100%;
 }

 .social-links li{
  box-sizing: border-box;
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0px 5px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: 12px;
 }

 .social-links-li:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
 }i

 .social-links-li:hover .social-svg{
   opacity: 1;
 }

 .social-links-li:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
 }

 .social-links-li:active .social-svg-fill{
   fill: #e9e9e9;
   opacity: 1;
 }

 .social-links svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-svg {
  opacity: 0.8;
}



.footer-navigation-links li{
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  min-width: 120px;
}

.footer-navigation-links {
  margin: 13px 0 0 -100px;
  padding-left: 20px;
  font-weight: 400;

}

.footer-navigation-links a{
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-navigation-links .heart{
  background: url("../img/heart.svg") no-repeat 0 5px;
}

.footer .branding {
  font-weight: 400;
}

.branding a{
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.branding .branding-text{
  margin-top: -2px;
}

.main-search,
.main-authorization {
  position: relative;
}

.search-form-wrapper {
  box-sizing: border-box;
  top: 0;
  left: -310px;
  padding: 20px 15px;
  z-index: 5;
  display: block;
}

.search-form input{
  width: 280px;
  padding: 9px 15px;
}

.search-form input:hover {
  padding: 8px 14px;
}

.form-authorization-wrapper {
  padding: 20px 18px 16px 18px;
  z-index: 5;
  top: 0px;
  right: 0px;
}

.authorization-form input{
  box-sizing: border-box;
  width: 240px;
  padding: 9px 15px;
  margin-bottom: 20px;
}

.authorization-form input:hover{
  padding: 8px 14px;
}

.authorization-form button{
  width: 100px;
  height: 45px;
  float: left;
  clear: both;
}

.additional-links {
  font-weight: 400;
  float: right;
  padding-left: 0;

}

.additional-links a{
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 14px;
}

.additional-links li:not(:last-child){
  margin:0;
}

.additional-links li{
    margin: 0;
  margin-top: -1px;
}

.additional-links li:last-child {
  margin-top: -1px;
}





.feedback-form input {
  padding: 9px 15px;
  display: block;
  margin-bottom: 20px;
}

.feedback-form input:hover {
  padding: 8px 14px;
}

.feedback-form input:focus {
  padding: 8px 14px;
}

.feedback-form input:not(.feedback-text) {
  width: 235px;
}

.feedback-form textarea:focus{
  padding: 8px 14px;
}

.feedback-text {
  display: block;
  clear: both;
  padding: 9px 15px;
  width: 397px;
  min-height: 135px;
}

.feedback-text:hover {
  padding: 8px 14px;
}

 .feedback-btn{
  display: inline-block;
  float: right;
  margin: 25px 0 0;

}

.feedback-close {
  position: absolute;
  top: 5px;
  right: 11px;
  width: 20px;
  height: 20px;
  font-size: 0px;
  background: transparent;
  border: none;
}

.feedback-close::before {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 22px;
  background: #323232;
  transform: rotate(45deg);
}

.feedback-close::after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 22px;
  background: #323232;
  transform: rotate(-45deg);
}


.main-feedback .highlighted  {
  margin-bottom: 19px;
}

.header-navigation .current-page{
  background-color: rgb(208, 112, 88);
  color: #ffffff;
}

.current-page a {
  color: #ffffff;
  background: transparent;
  border: none;
}

.catalog-second-level a:hover {
  background-color: #fbded8;
}

.catalog-second-level a:active {
  background-color: #f6b5a5;
}
.header-user-navigation .cart-with-goods {
  background: #ffffff url("../img/basket-red.svg") no-repeat 15px 7px;
  width: 118px;
}

.cart-with-goods svg {
  display: none;
}

.cart-with-goods:after {
  font-weight: 700;
  content: "2 товара";
  color: #000000;
}

.main-cart {
  position: relative;
}

.cart-popup {
  top: 0;
  left: 0;
  padding: 21px 14px 20px 18px;
  z-index: 5;
}

.cart-product-table {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
  margin: 0 2px;
  font-weight: 400;
  padding: 0 8px 0 4px;
}

.cart-product-table div {
  max-height: 33px;
  align-self: center;
  margin-bottom: 20px;
}

.cart-img {
  margin-left: 5px;
}

.cart-delete-btn{
  width: 12px;
  height: 33px;
  padding: 0;

}

.cart-product-table .delete-btn {
  position: relative;
  font-size: 0;
  border: none;
  background: transparent;
}

.cart-product-table .delete-btn::before{
  top: -1px;
  left: 3px;
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  background: #323232;
  transform: rotate(45deg);
}

.cart-product-table .delete-btn::after{
  top: -1px;
  left: 3px;
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 14px;
  background: #323232;
  transform: rotate(-45deg);
}

.cart-img img {
  border-radius: 50%;
}

.cart-popup-info {
  margin-left: 14px;
  display: flex;
  align-self: center;
  position: relative;
  margin-right: 220px;
}

.cart-popup-info p {
  position: absolute;
  left: 0;
  top: -8px;
}

.cart-popup-calculation {
  display: flex;
  align-self: center;
  margin-left: 27px;
}

.cart-product-table .cart-product-info{
  width: 220px;
  display:block;
  height: auto;
}

.cart-product-weight-price {
  display: flex;
  align-self: center;

}

.cart-popup-total {
  margin-left: 23px;
  margin-right: 3px;
}

 .cart-popup .stroke {
  width: 100%;
  height: 1px;
  background: #cacac7;
  margin-top: 5px;
  margin-bottom: 14px;
}

.cart-overall-price {
  margin-left: auto;
  text-align: right;
  margin-bottom: 14px;
  width: 100%;
}

.cart-popup .cart-wrapper {
  display: flex;
  flex-wrap: wrap;

}

.cart-popup .cart-submit-btn:hover {
  color: #ffffff;
}

.cart-submit-btn {
  margin: 0;
  margin-left: auto;
}

.cream-content .catalog-page-heading {
  font-size: 35px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 20px;
}

.sort-filter-form {
  padding-top: 4px;
}

.sort-filter-form label,
.sort-filter-form legend {
  display: block;
  margin-left: 16px;
  margin-bottom: 5px;
  padding-right: 15px;
}
.sort-filter-select {
  position: relative;
}

.filter-element-wrapper1 .select-icon-down{
  position: absolute;
  top: 35px;
  right: 16px;
}

.filter-element-wrapper1 path{
  fill: #fff;
}

.filter-element-wrapper1:hover path{
  fill: #000;
}

.filter-element-wrapper1:hover select{
  color: #000000;
}

.filter-element-wrapper1 {
  position: relative;
}

.filter-element-wrapper2 {
  position: relative;
  width:220px;
}

.sort-range-element-wrap,
.sort-filter-fat,
.sort-filter-addings {
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  height: 36px;
  border-radius: 20px;
}

.sort-range-element-wrap {
  width: 220px;
}

.sort-range-element{
  position: absolute;
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 17px;
  left: 22px;
}

.sort-icon-range-element1 {
  position: absolute;
  width: 20px;
  height: 22px;
  content: "";
  background: url("../img/filter-button.svg") no-repeat 0 0;
  top: -8px;
  left: 13px;
}

.sort-icon-range-element2 {
  position: absolute;
  width: 20px;
  height: 22px;
  content: "";
  background: url("../img/filter-button.svg") no-repeat 0 0;
  top: -8px;
  right: 45px;
}

.sort-icon-range-element1:hover,
.sort-icon-range-element2:hover {
  transform: scale(1.1)
}

.fat-filter .sort-filter-fat,
.addings-filter .sort-filter-addings {
  width: 415px;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.sort-filter-fat input[type=radio],
.sort-filter-addings input[type=checkbox]{
  display: none;
}

.sort-filter-fat li{
  position: relative;
}

.sort-filter-fat label{
  position: relative;
  margin: 0;
  padding-left: 32px;
  display: block;
  height: 22px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 0;
}

 .sort-filter-fat-radio {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
  background-size: 22px 22px;
  top: -2px;
  left: 0px;
  opacity: 0.8;
}

.fat-filter label,
.addings-filter label{
  box-sizing: border-box;
  z-index: 5;
}

input:checked ~ .sort-filter-fat-radio{
  background: url("../img/radio-on.svg") no-repeat 0 0;
  background-size: 22px 22px;
}

.sort-filter-form > div,
.sort-filter-form > fieldset {
  margin-bottom: 18px;
}

.addings-filter .sort-filter-addings{
  width: 700px;
  margin: 0;
}

.sort-filter-addings li{
  position: relative;
}

.sort-filter-addings-check {
  position: absolute;
  display: block;
  width: 24px;
  height: 20px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  background-size: 20px 20px;
  top: -2px;
  left: 0px;
  opacity: 0.8;
}

input:checked ~ .sort-filter-addings-check{
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  background-size: 24px 20px;
}

.sort-filter-addings label {
  position: relative;
  margin: 0;
  padding-left: 32px;
  display: block;
  height: 22px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 0;
}

.sort-filter-addings li:nth-child(2){
  margin-left: -3px;
}

.sort-form-btn-submit {
  margin-top: 20px;
  height: 36px;
}

.sort-filter-fat-radio:hover,
.sort-filter-addings-check:hover {
  opacity: 1;
}

.sort-filter-fat-radio:disabled,
.sort-filter-addings-check:disabled {
  opacity: 0.4;
}

.sort-form-btn-submit:hover{
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.sort-form-btn-submit:active{
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
  color: #323232;
  border: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin-right: -5px;
}

.pagination-list li{
  width: 27px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  margin-left: 2px;
}

.pagination .current-page{
  background: #ffffff;
  color: #323232;
}

.pagination-child a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.pagination-disabled a{
  opacity: 0.2;
}
.pagination-previos {
  background: transparent;
}

.pagination-previos a{
  background: transparent;
}

.pagination a:hover{
  background: transparent;
}
.cream-content::after{
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.302;

}

.footer ul {
  list-style: none;
}

.title-wrapper {
  position: relative;
  z-index: 30;
}

.footer a:hover,
.title-wrapper a:hover,
.breadcrumbs-links-li:not(:last-child) a:hover{
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
  z-index:30;
}

.footer .logo-link{
  border-bottom: none;
  margin-left:2px;
}




/*Slider*/

.page-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/slider-item5.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  /* Для демонстрации */
  min-height: 100vh;
}

.page-wrapper::before,
.page-wrapper::after {
  content: "";

  visibility: hidden;
}

.page-wrapper::before {
  background-image: url(../img/slider-item2.png);
}

.page-wrapper::after {
  background-image: url(../img/slider-item3.png);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  min-width: 940px;
}

.container-catalog {
  margin-top: 10px;
}

.main-header {
  /* Для демонстрации */
  height: 100px;

  background-color: rgba(0, 0, 0, 0.4);
}

.slider {
  position: relative;

  padding-top: 272px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 41px;

  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .page-wrapper #slide1,
#product-2:checked ~ .page-wrapper #slide2,
#product-3:checked ~ .page-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .page-wrapper label[for="product-1"],
#product-2:checked ~ .page-wrapper label[for="product-2"],
#product-3:checked ~ .page-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*Form-js*/

@keyframes bounce {
  0% {
    transform: translateX(-60vw);
  }
  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  position: absolute;
  display: block;
  animation: bounce 1s;
}

.main-feedback {
  box-sizing: content-box;
  width: 477px;
  top: 1945px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 18px 24px 27px;
  border-radius: 10px;
  z-index: 5;
}

.modal-error {
  animation: shake 0.6s;
}

.map-container {
  position: relative;
  z-index: 1;

}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
